body {
    background-color: black;
    color: #ffffff;
}
.carousel-item {
    height: 700px;
    width: 100%;
}

.carousel-item img {
    background-size: 100%;
    object-fit: contain;
    height: auto;
}

@media screen and (max-width: 400px) {
    .carousel-inner {
        width: 400px;
        height: 300px;
    }
}
@media screen and (max-width:400px){
    .card mb-12 {
        background-color: rgba(51, 50, 50, 0.137);
        color: #ffffff;
        height: 300px;
    }
    
}
.img-fluid {
    width: 100%;
    text-align: right;
    border-radius: 5px;
}
@media screen and (max-width:200px){
    .card1 mb-6 {
        background-color: rgba(51, 50, 50, 0.137);
        color: #ffffff;
        height: 300px;
    }
    
}
.img-fluid1 {
    width: 180px;
    height: 210px;
}
#testimonios {
    display: flex;
    flex-flow: row wrap;
}
.testimonio {
    display: flex;
    flex-direction: column;
    color: antiquewhite;
    align-items: center;
    width: 300px;
    text-align: center;
    margin-bottom: 15px;

    &__texto {
        font-style: italic;
    }

    &__imagen {
        width: 50px;
        height: 50px;
        border: 1px solid #fff;
        border-radius: 50px;
        margin-bottom: 15px;
    }

    &__nombre {
        font-size: 1.5em;
    }
}
#contacto {
    width: 70%;
}
.body {
    background-color: black;
}
#exampleModalLabel {
    color: #000000;
}
.modal-body {
    color: #000000;
}
